<div class="d-flex bd-highlight">
  <%= form_with url: sessions_path do |form| %>
    
    <div class="field pb-2">
      <%= form.text_field :email, placeholder: 'Email' %>
    </div>
    
    <div class="field pb-2">
      <%= form.password_field :password, placeholder: 'Password' %>
    </div>
    
    <div class="actions">
      <%= form.submit "Log in", class: 'btn'%>
    </div>
  <% end %>  
</div>