Welcome to dreamland.com, "#{@user.email}
==============================================

You have successfully signed up to dreamland.com

To login to site just follow this link <a href="#{@url}">Login</a>

Thanks for joining and have a great day!
