/ = form_for(@new_user, url: register_attempt_path, html: { class: 'form-wrapper form-medium' }) do |f|
/   = render 'shared/error_messages', object: f.object
/   = f.text_field :username,
/   placeholder: :username
