<div class="d-flex justify-content-center">
  <div class="signup">
    <div class="d-flex justify-content-center pb-3">Let's dream</div>

      <%= render 'form', user: @user %> 
    </div>
  </div>
</div>
