<div class="d-flex justify-content-center">
  <div class="signup">
    <div class="d-flex justify-content-center pb-3">
      <h3>Let's dream</h3>
    </div>

      <%= render 'form', user: @user %> 
    </div>
  </div>
</div>
