default: &default
  adapter: postgresql
  encoding: unicode
  username: 
  password: 
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: dl_dev

test:
  <<: *default
  database: dl_test

production:
  <<: *default
  database: dl_prod
