@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  font-family: Roboto;
  line-height: 1;
  color: black;
  background: #edeef0 !important;

  a {
    text-decoration: none !important;
    color: black;
  }
  
  .bg-primary {background-color: #4a76a8 !important;}
}

#notice {color: red;}

// errors style

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }

  li {
    list-style-type: none;
  }
}

.back-link {
 color: #C30C0C;
 text-decoration: underline !important;
}