.container-dreams {
  font-family: RobotoLight;
  display: flex;
  flex-direction: column;
  justify-content: center;  

  .notice {
    margin: 15px 20px 5px 20px;
    padding: 7px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #1B98E0;
    opacity: 0.6;
  }

  .block-exist-dreams {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    border: 0px solid #999;

    .wrapper-user-dreams {
      margin: 0px 0px 10px 30px;
      width: 400px;

      .item-user-dream {
        padding-bottom: 0px;
        margin-bottom: 20px;
        border-bottom: 1px solid #DCDCDC;
        
        .date-style {
          font-size: 12px;
          font-weight: 700;
          color: #4F5964;

        }

        ul {
          display: flex;
          list-style: none;
          margin-top: 10px;
          margin-bottom: 20px;
          align-items: flex-end;
        }
        
        li {
          margin-right: 10px; 
          font-size: 10px; 
        }

        p {
          margin-top: 5px;
        }
        
        a {
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }

  .block-new-dreams {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    border: 0px solid #999;

    .wrapper-newdream-form {
      width: 400px;
      margin: 0px 0px 0px 30px;

      .item-newdream-form {
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
      
        h3 {
          font-size: 12px;
        } 

        .form-style-title {
          height: 20px;
          width: 300px;
          font-size: 15px;
          border: none;
          border-bottom: 1px solid #999;
        } 

        .form-style-text {
          height: 100px;
          width: 300px;
          border: none;
          border-bottom: 1px solid #999;
        }
      }
    }
  }
}