.bg-primary {
  // height: 45px !important;
  

  .logo {
    font-size: 1.8em;
    color: white !important;
  }

  ul {
    margin: 0 !important;
    // display: flex;
    // width: 100%;
    // justify-content: space-between;

    li {
      margin-left: 20px;
      list-style: none;
      font-size: 1.2em;
      
      a {
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
      }

      a:hover {
        opacity: 1;
      }
    }  
  }
}


