.navbar {
  width: 100%;
  height: 35px;
  background-color: #19212A;

  ul {
    display: flex;
    margin-right: 20px;
    height: 100%;
    justify-content: flex-end;
    
    li {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      transition: background-color 0.7s; 
      &:hover {
        background-color: #293542
      }
      
      a {
        color: #fff;
        text-decoration: none;
      }
    }  
  }
}


