// new user page styles 
.signup {
  margin-bottom: 20px;
  padding: 20px;
  max-width: 315px;
  border: 1px solid #d3d9de;
  border-radius: 4px;
  background-color: #FFF; 
  
  p {
    height: 2px;
  }

  .field {
    
    #user_email {
      padding: 6px 12px 8px; 
      width: 270px;
      border: 1px solid #d3d9de;
      border-radius: 3px; 
    }

    #user_password {
      padding: 6px 12px 8px; 
      width: 270px;
      border: 1px solid #d3d9de;
      border-radius: 3px;
    }

    #user_password_confirmation {
      padding: 6px 12px 8px; 
      width: 270px;
      border: 1px solid #d3d9de;
      border-radius: 3px;
    }

  }
}

// show user page styles
.wrap-profile {
  
}

// new user page styles

.block-new-user {
  display: flex;
  margin: 20px auto;
  width: 350px;

  h2 {
    margin: 40px 0px;
    font-size: 50px;
    color: #999;
  } 

  .wrapper-newuser-form {
    margin: 0px 0px 0px 0px; 
    
    .item-newuser-form {
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;

      .form-style-title {
        height: 30px;
        width: 300px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
      } 

      .form-style-text {
        height: 100px;
        width: 300px;
        border: none;
        border-bottom: 1px solid #999;
      }
    }
  }
}

.form-errors {
  color: #dc554f;
}

.form-error-message {
  list-style: none;
  margin-bottom: 10px;
}