*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RobotoLight;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

body {
  font-family: RobotoLight;
  line-height: 1;
  color: black;
  background: white;
}

.container-welcome-page {
  display: flex;
  flex-direction: column;  
  
  h1 {
    padding-top: 10%;
    font-size: 60px;
  }
  
  .users {
    h3 {
      margin-top: 70px;
    }
  }

  .item-container {
    margin-top: 10px;
  }
 
  .btn {
    display: flex;
    margin: 50px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.container-user {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  width: 800px;
  border: 0px solid #999;

  h2 {
    font-size: 15px;
    color: gray;
  }

  // show user page styles

  .block-image-name {
    display: flex;

    .image-user {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      
      img {
        margin-top: -30%;
        margin-left: -50%;
        width: 200px;
      }
    }
   
    .wrapper-name {
      margin: 20px 0px 0px 20px;
      border: 0px solid #999;
      
      h1 {
        margin-bottom: 10px;
        font-size: 30px;
      }
    }
  }
  
  .block-dreams {
    display: flex;
    margin-top: 40px;

    .wrapper-user-dreams {

      border: 0px solid #999;
      margin: 0px 0px 10px 30px;
      
      .item-user-dream {
        padding-bottom: 20px;
        border-bottom: 1px solid #DCDCDC;
        h3 {

        }
        
        p {
          margin-top: 10px;
        }
        
        a {
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }

  .block-new-dreams {
    display: flex;
    margin-top: 20px;

    .wrapper-newdream-form {
      margin: 0px 0px 0px 30px; 
      
      .item-newdream-form {
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        h3 {
          font-size: 12px;
        } 

        .form-style-title {
          height: 20px;
          width: 300px;
          font-size: 15px;
          border: none;
          border-bottom: 1px solid #999;
        } 

        .form-style-text {
          height: 100px;
          width: 300px;
          border: none;
          border-bottom: 1px solid #999;
        }
      }
    }
  }
}

// new user page styles

.block-new-user {
  display: flex;
  margin: 20px auto;
  width: 350px;

  h2 {
    margin: 40px 0px;
    font-size: 50px;
    color: #999;
  } 

  .wrapper-newuser-form {
    margin: 0px 0px 0px 0px; 
    
    .item-newuser-form {
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;

      .form-style-title {
        height: 30px;
        width: 300px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
      } 

      .form-style-text {
        height: 100px;
        width: 300px;
        border: none;
        border-bottom: 1px solid #999;
      }
    }
  }
}

input[type=submit] {
      padding: 10px 15px; 
      background:#ccc; 
      border:0 none;
      font-size: 20px;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px; 
}