// Home page style begin

.login {
  margin-bottom: 20px;
  padding: px;
  width: 270px;
  height: 140px;
  
  p {
    height: 20px;
  }

  .field {
    
    #email {
      width: 270px;
    }

    #password {
      width: 270px;
    }
  }
}

// Home page style end
